{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">

    <div class="mb-3">
        <input name="symbol" type="text" placeholder="Ticker Symbol" class="form-control mx-auto w-auto" autocomplete="off" autofocus>
    </div>

    <div class="mb-3">
        <input name="shares" type="number" min="1" placeholder="Number of Shares" class="form-control mx-auto w-auto" autocomplete="off">
    </div>

    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}
