{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<form action="/password" method="post">

    <div class="mb-3">
        <input name="old" type="password" placeholder="Old Password" class="form-control mx-auto w-auto" autocomplete="off" autofocus >
    </div>

    <div class="mb-3">
        <input name="new" type="password" placeholder="New Password" class="form-control mx-auto w-auto" autocomplete="off">
    </div>

    <div class="mb-3">
        <input name="confirmation" type="password" placeholder="Confirm New Password" class="form-control mx-auto w-auto" autocomplete="off">
    </div>

    <button class="btn btn-primary" type="submit">Reset Password</button>

</form>
{% endblock %}
