{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}
<table class="table">
    <thead class="thead">
        <tr>
            <th class="text-start">Name</th>
            <th class="text-end">Price</th>
            <th class="text-end">Symbol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-start">{{ name }}</td>
            <td class="text-end">{{ price | usd }}</td>
            <td class="text-end">{{ symbol }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
