{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <select name="symbol" class="form-select mx-auto w-auto">
            <option disabled selected>Ticker Symbol</option>
            {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input name="shares" type="number" min="1" placeholder="Number of Shares" autocomplete="off" class="form-control mx-auto w-auto">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
